<style>
    @import 'https://fonts.googleapis.com/css?family=David+Libre';
</style>
/*
This is the main stylesheet!
*/

header {
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}

main {
    min-height: 400px;
    padding-top: 120px;
    font-family: 'David Libre', serif;
    font-size: 135%;
}

main p{
    margin-left: 10px;
}

h2 {
    text-align: center;
    font-style: Arial, sans-serif;
}

u1.star_wars {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

u1.star_wars li {
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 5px 0 5px 40px;
    margin-bottom: 5px;
}

u1 li.falcon {
    background-image: url(http://icons.iconarchive.com/icons/sensibleworld/starwars/24/Millennium-Falcon-icon.png)
}

footer {
    text-align: right;
    font-size: 15px;
    margin-right: 10px;
}

a:hover {
    color:red;
}

a:visited {
    color:black;
}

img { 
    width: 100%;
    max-height: 600px;
    padding-top: 16px;
    padding-bottom: 16px;
}

*{
    background-color: lightgray;
}

.wrapper {
  width: 980px;
  margin: auto;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}


/* ----- =logo ----- */

header h1 {
  float: left;
  font-size: 40px;
  margin: 0;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

header h1 a {
  text-decoration: none;
  color: #424254;
}

header h1 a:hover {
  color: red;
}

/* ----- =navigation ----- */

#top-nav {
  float: right;
  margin-top: 72px;
}

#top-nav ul {
  margin: 0;
  list-style: none;
}

#top-nav ul li {
  display: inline-block;
  margin-left: 40px;
}

#top-nav ul li a {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #424254;
  text-decoration: none;
}

#top-nav ul li a:hover {
  color: red;
}
a:hover {
        color:red;
    }
    a:visited {
        color:black;
    }

/* -------- Column Layout -------*/
.one_third {    
    width:300px;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
  }


/*<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic Media Query Test</title>
<style type="text/css">

body {
	background-color: grey;
}

@media screen and (max-width: 1280px) {
body {
	background-color: blue;
}
}

@media screen and (max-width: 1024px) {
body {
	background-color: green;
}
}

@media screen and (max-width: 768px) {
body {
	background-color: yellow;
}
}

@media screen and (max-width: 480px) {
body {
	background-color: orange;
}
}

@media screen and (max-width: 320px) {
body {
	background-color: red;
}
}

.note {
	width: 200px;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
}
</style>
</head>

<body>
<div class="note">Resize this page to see the media queries in action.</div>
</body>
</html>
/*